## Get Started

In [46]:
# Python Version

import sys

print(sys.version)

3.10.13 (main, Mar 29 2024, 19:28:21) [Clang 15.0.0 (clang-1500.3.9.4)]

In [3]:
# Try our online Python :

print("Hello, World!")

Hello, World!

## Python Syntax

### Indentation

In [4]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

In [6]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [7]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

## Python Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a `#`, and Python will render the rest of the line as a comment:

In [9]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [10]:
print("Hello, World!") #This is a comment

Hello, World!

In [11]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

#### Multiline Comments

In [12]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [13]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Python Variables

**variables** are containers for storing data values

In [16]:
# Example of variables in python

x = 5
y = "Thomas"
print(x)
print(y)

5
Thomas

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [17]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

**Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [18]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

**Get the Type**

You can get the data type of a variable with the type() function.

In [20]:
type(x), type(y), type(z)

(str, int, float)

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [22]:
x = "John"
# is the same as
x = 'John'

**Case-Sensitive**

Variable names are case-sensitive.

In [23]:
a = 4
A = "Sally"
#A will not overwrite a

In [24]:
a, A

(4, 'Sally')

### Python - Variable Names


A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

- A variable name must start with a `letter` or the `underscore character` (_)
- A variable name cannot start with a `number`
- A variable name can only contain `alpha-numeric` characters and `underscoresù (A-z, 0-9, and _ )
- Variable names are `case-sensitive` (age, Age and AGE are three different variables)
- A variable name cannot be any of the `Python keywords`.

In [25]:
# Example - Legal variable names:

myname = "Thomas"
my_name = "Thomas"
_my_name = "Thomas"
myName = "Thomas"
MYNAME = "Thomas"
myname2 = "Thomas"

In [26]:
# Example - Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (1952755524.py, line 3)

**Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

In [27]:
# Camel Case : Each word, except the first, starts with a capital letter
myVariableName = "John"

# Pascal Case : Each word starts with a capital letter:
MyVariableName = "John"

# Snake Case : Each word is separated by an underscore character
my_variable_name = "John"

### Python Variables - Assign Multiple Values

**Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

In [28]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [29]:
x, y, z

('Orange', 'Banana', 'Cherry')

**One Value to Multiple Variables**

And you can assign the same value to multiple variables in one line:

In [30]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [32]:
x, y, z

('Orange', 'Orange', 'Orange')

**Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called **unpacking**.

In [33]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [34]:
x, y, z

('apple', 'banana', 'cherry')

### Python - Output Variables

The Python `print()` function is often used to output variables.

In [35]:
x = "Python is awesome"
print(x)

Python is awesome

In [37]:
# In the print() function, you output multiple variables, separated by a comma:

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [38]:
# You can also use the + operator to output multiple variables:

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the space character after `"Python "` and `"is "`, without them the result would be `"Pythonisawesome"`.

In [39]:
# For numbers, the + character works as a mathematical operator:

x = 5
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [40]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [41]:
x = 5
y = "John"
print(x, y)

5 John

### Python - Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [42]:
# Example : Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [43]:
# Example - Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the **global** keyword.

In [44]:
# Example  - If you use the global keyword, the variable belongs to the global scope:


def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [45]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Python - Variable Exercises

In [48]:
# Create a variable named carname and assign the value Volvo to it.
carname = "Volvo"

In [47]:
# Create a variable named x and assign the value 50 to it.
x = 50

In [49]:
# Display the sum of 5 + 10, using two variables: x and y.

x = 5
y = 10
print(x + y)

15

In [50]:
# Create a variable called z, assign x + y to it, and display the result.

x = 5
y = 10

z = x + y

print(z)

15

In [51]:
#  Insert the correct syntax to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"

In [52]:
x, y, z

('Orange', 'Banana', 'Cherry')

In [54]:
# Insert the correct syntax to assign the same value to all three variables in one code line.

x = y = z = "Orange"

x, y, z

('Orange', 'Orange', 'Orange')

In [55]:
# Insert the correct keyword to make the variable x belong to the global scope.

def myfunc():
    global x
    x = "fantastic"

## Python Data Types

### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- `Text Type`:	str
- `Numeric Types`:	int, float, complex
- `Sequence Types`:	list, tuple, range
- `Mapping Type`:	dict
- `Set Types`:	set, frozenset
- `Boolean Type`:	bool
- `Binary Types`:	bytes, bytearray, memoryview
- `None Type`:	NoneType

### Getting the Data Type

In [56]:
# Print the data type of the variable x

x = 5
print(type(x))

<class 'int'>

In [60]:
type(x)

int

In [58]:
myName = "Thomas"
print(type(myName))

<class 'str'>

In [59]:
type(myName)

str

### Setting the Data Type

In Python, the data type is set when you assign a value to a variable:

In [62]:
# Example                             # Data Type

x = "Hello World"	                  # str
x = 20                                # int
x = 20.5                              # float

In [78]:
x = 1j                                # complex
print(type(x))

<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]     # list 
x = ("apple", "banana", "cherry")     # tuple

In [72]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [70]:
x = range(6)                          # range
print(type(x))

<class 'range'>

In [71]:
x = True                             # bool
print(type(x))

<class 'bool'>

In [74]:
x = {"name": "Thomas", "age": 29}     # dict
print(type(x))

<class 'dict'>

In [75]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [65]:
x = b"Hello" # bytes
print(type(x))

<class 'bytes'>

In [66]:
x = bytearray(5) # bytearray
print(type(x))

<class 'bytearray'>

In [68]:
x = memoryview(bytes(5)) # memoryview
print(type(x))

<class 'memoryview'>

In [69]:
x = None # NoneType
print(type(x))

<class 'NoneType'>

###  Setting the Specific Data Type

If you want to specify the data type, you can use the following constructor functions:

In [77]:
x = str("Hello World")

In [76]:
x = str("Hello World")	#str	
x = int(20)	# int	
x = float(20.5)	# float	
x = complex(1j)	# complex	
x = list(("apple", "banana", "cherry"))	# list	
x = tuple(("apple", "banana", "cherry"))	# tuple	
x = range(6)	# range	
x = dict(name="John", age=36)	# dict	
x = set(("apple", "banana", "cherry"))	# set	
x = frozenset(("apple", "banana", "cherry"))	# frozenset	
x = bool(5) #bool	
x = bytes(5)	# bytes	
x = bytearray(5)	# bytearray	
x = memoryview(bytes(5))	# memoryview

## Python Numbers

There are three numeric types in Python:

- int
- float
- complex

Variables of numeric types are created when you assign a value to them:

In [79]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [80]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

### Int

**Int**, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [81]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### Float
**Float**, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [82]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [83]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### Complex
Complex numbers are written with a "j" as the imaginary part:

In [84]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [85]:
x

(3+5j)

In [86]:
y

5j

In [87]:
z

(-0-5j)

# Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [88]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Note**: You cannot convert complex numbers into another number type.

### Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [89]:
import random

random.randrange(1, 10)

3

In [90]:
print(random.randrange(1, 10))

7

##  Python Casting

### Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

- `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [91]:
# Example - cast into Integers

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [92]:
x, y, z

(1, 2, 3)

In [93]:
# Example - cast into Floats

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [94]:
x, y, z, w

(1.0, 2.8, 3.0, 4.2)

In [95]:
# Example - cast into String

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [96]:
x, y, z

('s1', '2', '3.0')

## Python Strings

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [98]:
# example
print("Hello")
print('Hello')

Hello
Hello

**Quotes Inside Quotes**

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [99]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

**Assign String to a Variable**

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [100]:
a = "Hello"
print(a)

Hello

**Multiline Strings**
  
You can assign a multiline string to a variable by using three quotes:

In [103]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [104]:
# Or three single quotes:

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [105]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

**Looping Through a String**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [107]:
# Loops through the letters in the world "banana"

for x in  "banana":
    print(x)

b
a
n
a
n
a

In [108]:
banana_car = [x for x in "banana"]
banana_car

['b', 'a', 'n', 'a', 'n', 'a']

**String Length**

To get the length of a string, use the **len()** function.

In [109]:
greet = "Hello World"
len(greet)

11

In [110]:
print(len(greet))

11

**Check String**

To check if a certain phrase or character is present in a string, we can use the keyword **in**.

In [111]:
text = "The best things in life are free!"

print("free" in text)

True

**Use it in an `if` statement:**

In [117]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [118]:
# count the num of free

num_free = 0

if "free" in text:
    num_free += 1

num_free

1

**Check if NOT**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [119]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [120]:
# Use it in an if statement -  print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

### Python - Slicing Strings

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [121]:
# Example - Get the characters from position 2 to position 5 (not included):
# Note: The first character has index 0.

b = "Hello world"
b[2:5]

'llo'

**Slice From the Start** 

By leaving out the start index, the range will start at the first character:

In [122]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
b[:5]

'Hello'

**Slice To the End**

By leaving out the end index, the range will go to the end:

In [123]:
b = "Hello, World!"

b[2:]

'llo, World!'

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [124]:
b = "Hello, World!"

b[-5:-2]

'orl'

### Python - Modify Strings

Python has a set of built-in methods that you can use on strings.

#### Upper Case

In [126]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [127]:
a.upper()

'HELLO, WORLD!'

#### Lower Case

In [128]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [135]:
a.lower()

'hello, world!'

#### Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [129]:
# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [130]:
a.strip()

'Hello, World!'

#### Replace String

In [131]:
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [132]:
a.replace("H", "J")

'Jello, World!'

#### Split String

The split() method returns a list where the text between the specified separator becomes the list items.

In [133]:
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [134]:
a.split(",")

['Hello', ' World!']

### Python - String Concatenation


To concatenate, or combine, two strings you can use the + operator

In [136]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [137]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### Python - Format - Strings

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [138]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using `f-strings` or the `format()` method!

#### F-Strings

`F-String` was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an **f-string**, simply put an `f` in front of the string literal, and add curly brackets `{ }` as placeholders for variables and other operations.

In [140]:
age = 36 
text = f"My name is Thomas , I am {age}"
text

'My name is Thomas , I am 36'

In [141]:
print(text)

My name is Thomas , I am 36

In [142]:
print(f"My name is Thomas, I'm {age}.")

My name is Thomas, I'm 36.

### Placeholders and Modifiers

A placeholder can contain **variables**, **operations**, **functions**, and **modifiers** to format the value.

In [143]:
#  Add a placeholder for the price variable:
                 
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a **colon** `:` followed by a legal formatting type, like `.2f` which means fixed point number with `2 decimals` :

In [144]:
price = 59

text = f"The price is {price:.2f} dollars"
text

'The price is 59.00 dollars'

A placeholder can contain Python code, like math operations:

In [145]:
# Perform a math operation in the placeholder, and return the result:

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

### Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a **backslash** `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [147]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (583263010.py, line 3)

To fix this problem, use the **escape character** `\` ":

In [149]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

### Escape Characters List :

**Code**  : 	**Result	Try it**
- \'  : Single Quote	
- \\  :	  Backslash	
- \n  :	  New Line	
- \r  :	  Carriage Return	
- \t  :   Tab	
- \b  :	  Backspace	
- \f  :	  Form Feed	
- \ooo  : Octal value	
- \xhh  : Hex value

In [160]:
# Single Quote (')

print('It\'s a beautiful day!')

It's a beautiful day!

In [161]:
# Backslash (\)

print('This is a backslash: \\')

This is a backslash: \

In [162]:
# New Line (\n)

print('First line\nSecond line')

First line
Second line

In [153]:
print('Hello World\rPython')

PythonWorld

This returns the cursor to the beginning of the line and overwrites some or all of the existing text, depending on the length of the following string.

In [163]:
# Tab (\t)

print('Red\tApple')

Red	Apple

In [164]:
# Backspace (\b)

print('abc\bdef')

abdef

In [156]:
# Form Feed (\f)

print('Hello\fWorld')

HelloWorld

In [157]:
# Octal value (\ooo)

print('\141\142\143')

abc

In [165]:
# Hex value (\xhh)

print('\x48\x65\x6c\x6c\x6f')

Hello

### Python - String Methods

Python has a set of built-in methods that you can use on strings.

**Note**: 

All string methods return new values. They do not change the original string.

| Method        | Description |
|---------------|-------------|
| `capitalize()`| Converts the first character to upper case |
| `casefold()`  | Converts string into lower case |
| `center()`    | Returns a centered string |
| `count()`     | Returns the number of times a specified value occurs in a string |
| `encode()`    | Returns an encoded version of the string |
| `endswith()`  | Returns true if the string ends with the specified value |
| `expandtabs()`| Sets the tab size of the string |
| `find()`      | Searches the string for a specified value and returns the position of where it was found |
| `format()`    | Formats specified values in a string |
| `format_map()`| Formats specified values in a string |
| `index()`     | Searches the string for a specified value and returns the position of where it was found |
| `isalnum()`   | Returns True if all characters in the string are alphanumeric |
| `isalpha()`   | Returns True if all characters in the string are in the alphabet |
| `isascii()`   | Returns True if all characters in the string are ascii characters |
| `isdecimal()` | Returns True if all characters in the string are decimals |
| `isdigit()`   | Returns True if all characters in the string are digits |
| `isidentifier()` | Returns True if the string is an identifier |
| `islower()`   | Returns True if all characters in the string are lower case |
| `isnumeric()` | Returns True if all characters in the string are numeric |
| `isprintable()` | Returns True if all characters in the string are printable |
| `isspace()`   | Returns True if all characters in the string are whitespaces |
| `istitle()`   | Returns True if the string follows the rules of a title |
| `isupper()`   | Returns True if all characters in the string are upper case |
| `join()`      | Joins the elements of an iterable to the end of the string |
| `ljust()`     | Returns a left justified version of the string |
| `lower()`     | Converts a string into lower case |
| `lstrip()`    | Returns a left trim version of the string |
| `maketrans()` | Returns a translation table to be used in translations |
| `partition()` | Returns a tuple where the string is parted into three parts |
| `replace()`   | Returns a string where a specified value is replaced with a specified value |
| `rfind()`     | Searches the string for a specified value and returns the last position of where it was found |
| `rindex()`    | Searches the string for a specified value and returns the last position of where it was found |
| `rjust()`     | Returns a right justified version of the string |
| `rpartition()`| Returns a tuple where the string is parted into three parts |
| `rsplit()`    | Splits the string at the specified separator, and returns a list |
| `rstrip()`    | Returns a right trim version of the string |
| `split()`     | Splits the string at the specified separator, and returns a list |
| `splitlines()`| Splits the string at line breaks and returns a list |
| `startswith()`| Returns true if the string starts with the specified value |
| `strip()`     | Returns a trimmed version of the string |
| `swapcase()`  | Swaps cases, lower case becomes upper case and vice versa |
| `title()`     | Converts the first character of each word to upper case |
| `translate()` | Returns a translated string |
| `upper()`     | Converts a string into upper case |
| `zfill()`     | Fills the string with a specified number of 0 values at the beginning |

| Méthode         | Description |
|-----------------|-------------|
| `capitalize()`  | Convertit le premier caractère en majuscule |
| `casefold()`    | Convertit la chaîne en minuscules |
| `center()`      | Centre la chaîne |
| `count()`       | Renvoie le nombre de fois qu'une valeur spécifiée apparaît dans la chaîne |
| `encode()`      | Renvoie une version encodée de la chaîne |
| `endswith()`    | Renvoie vrai si la chaîne se termine par la valeur spécifiée |
| `expandtabs()`  | Définit la taille de la tabulation dans la chaîne |
| `find()`        | Recherche une valeur spécifiée dans la chaîne et renvoie la position où elle a été trouvée |
| `format()`      | Formate les valeurs spécifiées dans une chaîne |
| `format_map()`  | Formate les valeurs spécifiées dans une chaîne |
| `index()`       | Recherche une valeur spécifiée dans la chaîne et renvoie la position où elle a été trouvée |
| `isalnum()`     | Renvoie Vrai si tous les caractères de la chaîne sont alphanumériques |
| `isalpha()`     | Renvoie Vrai si tous les caractères de la chaîne sont alphabétiques |
| `isascii()`     | Renvoie Vrai si tous les caractères de la chaîne sont des caractères ASCII |
| `isdecimal()`   | Renvoie Vrai si tous les caractères de la chaîne sont des décimales |
| `isdigit()`     | Renvoie Vrai si tous les caractères de la chaîne sont des chiffres |
| `isidentifier()`| Renvoie Vrai si la chaîne est un identifiant |
| `islower()`     | Renvoie Vrai si tous les caractères de la chaîne sont en minuscules |
| `isnumeric()`   | Renvoie Vrai si tous les caractères de la chaîne sont numériques |
| `isprintable()` | Renvoie Vrai si tous les caractères de la chaîne sont imprimables |
| `isspace()`     | Renvoie Vrai si tous les caractères de la chaîne sont des espaces blancs |
| `istitle()`     | Renvoie Vrai si la chaîne suit les règles d'un titre |
| `isupper()`     | Renvoie Vrai si tous les caractères de la chaîne sont en majuscules |
| `join()`        | Joint les éléments d'un itérable à la fin de la chaîne |
| `ljust()`       | Renvoie une version de la chaîne justifiée à gauche |
| `lower()`       | Convertit la chaîne en minuscules |
| `lstrip()`      | Renvoie une version de la chaîne avec les espaces de début supprimés |
| `maketrans()`   | Renvoie un tableau de traduction à utiliser dans les traductions |
| `partition()`   | Renvoie un tuple où la chaîne est divisée en trois parties |
| `replace()`     | Renvoie une chaîne où une valeur spécifiée est remplacée par une autre valeur spécifiée |
| `rfind()`       | Recherche une valeur spécifiée dans la chaîne et renvoie la dernière position où elle a été trouvée |
| `rindex()`      | Recherche une valeur spécifiée dans la chaîne et renvoie la dernière position où elle a été trouvée |
| `rjust()`       | Renvoie une version de la chaîne justifiée à droite |
| `rpartition()`  | Renvoie un tuple où la chaîne est divisée en trois parties |
| `rsplit()`      | Divise la chaîne au séparateur spécifié et renvoie une liste |
| `rstrip()`      | Renvoie une version de la chaîne avec les espaces de fin supprimés |
| `split()`       | Divise la chaîne au séparateur spécifié et renvoie une liste |
| `splitlines()`  | Divise la chaîne aux sauts de ligne et renvoie une liste |
| `startswith()`  | Renvoie vrai si la chaîne commence par la valeur spécifiée |
| `strip()`       | Renvoie une version de la chaîne épurée |
| `swapcase()`    | Échange les cas, les minuscules deviennent majuscules et vice versa |
| `title()`       | Convertit le premier caractère de chaque mot en majuscule |
| `translate()`   | Renvoie une chaîne traduite |
| `upper()`       | Convertit la chaîne en majuscules |
| `zfill()`       | Remplit la chaîne avec un nombre spécifié de zéros au début |

### Python Booleans


Booleans represent one of two values: True or False.

### Boolean Values

In programming you often need to know if an expression is `True` or `False`.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [166]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns **True** or **False**:

In [167]:
# Print a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

### Evaluate Values and Variables

The bool() function allows you to evaluate any value, and give you True or False in return,

In [168]:
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [170]:
# Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

### Most Values are True

Almost any value is evaluated to True if it has some sort of content.

- Any `string` is True, except empty strings.

- Any `number` is True, except 0.

- Any `list`, `tuple`, `set`, and `dictionary` are True, except empty ones.

In [174]:
# The following will return True:

print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

### Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as `( )`, `[ ]`, `{ }`, `" "`, the `number 0`, and the `value None`. And of course the `value False` evaluates to False.

In [173]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

One more value, or object in this case, evaluates to `False`, and that is if you have an object that is made from a class with a` __len__ `function that `returns 0` or `False`:

In [175]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

### Functions can Return a Boolean

You can create functions that returns a Boolean Value:

In [176]:
# Print the answer of a function:

def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [177]:
# Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many **built-in functions** that return a boolean value, like the `isinstance()` function, which can be used to determine if an object is of a certain data type:

In [178]:
# Check if an object is an integer or not:


x = 200
print(isinstance(x, int))

True

### `isinstance()`

La fonction **isinstance()** en Python est utilisée pour vérifier si un objet est une instance d'une classe spécifique ou d'un tuple de classes. C'est un outil très utile pour assurer la sécurité du type dans un programme, permettant au développeur de s'assurer que les objets manipulés correspondent bien aux types attendus.

**Syntaxe de isinstance()**
La fonction isinstance() prend deux arguments :

- `objet` : l'objet dont le type doit être vérifié.
- `classe ou tuple de classes` : la classe, ou le tuple contenant des classes, auquel l'objet doit correspondre.

**Retour de la fonction**

isinstance() renvoie **True** si l'objet est une instance de la classe spécifiée, ou de n'importe quelle sous-classe de celle-ci. Sinon, elle renvoie False.

In [181]:
# Vérification simple :

x = 5

isinstance(x, int)  # Renvoie True

True

In [182]:
# Vérification avec des classes personnalisées :

class Fruit:
    pass

class Apple(Fruit):
    pass

f = Fruit()
a = Apple()

print(isinstance(f, Fruit))  # Renvoie True
print(isinstance(a, Fruit))  # Renvoie True car Apple est une sous-classe de Fruit
print(isinstance(f, Apple))  # Renvoie False

True
True
False

In [183]:
# Utilisation avec un tuple de classes :


print(isinstance(a, (list, tuple, Apple)))  # Renvoie True car a est une instance de Apple
print(isinstance(a, (list, tuple)))         # Renvoie False car a n'est ni une liste ni un tuple

True
False

**Pourquoi utiliser isinstance()?**

**isinstance()** est particulièrement utile dans des scénarios où le type de données peut varier, et où le comportement du programme doit s'adapter au type d'objet qu'il manipule. Par exemple, lors de l'écriture de fonctions qui peuvent accepter plusieurs types de données, vous pouvez utiliser isinstance() pour séparer la logique en fonction du type de l'objet passé à la fonction.

Voici un exemple simple :

In [184]:
def adder(a, b):
    if isinstance(a, int) and isinstance(b, int):
        return a + b  # addition pour les entiers
    elif isinstance(a, str) and isinstance(b, str):
        return a + " " + b  # concaténation pour les chaînes
    else:
        raise ValueError("Invalid input types")

Cette fonction utilise isinstance() pour s'assurer que les opérations sont effectuées sur des types compatibles, sinon elle lève une exception.

**En résumé**, isinstance() est un moyen efficace de gérer la validation des types dans vos programmes Python, permettant ainsi une programmation plus robuste et flexible.