 # Python Sets

### Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A **set** is a collection which is `unordered`, `unchangeable*`, and `unindexed`.

**Note**:

- Set items are unchangeable, but you can remove items and add new items.
- Sets are written with curly brackets `{ }`

`*` Note: Set items are unchangeable, but you can remove items and add new items.

In [1]:
# Example Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

**Set Items**
Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**
`Unordered` means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**
Set items are `unchangeable`, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

**Duplicates Not Allowed**
Sets `cannot have two items with the same value`.

In [2]:
# Example - Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

**Note**: 

The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [4]:
# Example - True and 1 is considered the same value:

thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

**Note**: 

The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [5]:
# Example - False and 0 is considered the same value:

thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

**Get the Length of a Set**

To determine how many items a set has, use the len() function.

In [6]:
# Example Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#### Set Items - Data Types

Set items can be of any data type:

In [7]:
# Example - String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [12]:
set1, set2, set3

({'apple', 'banana', 'cherry'}, {1, 3, 5, 7, 9}, {False, True})

**A set can contain different data types:**

In [14]:
# Example - A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

#### type()
From Python's perspective, sets are defined as objects with the data type 'set':

```python
<class 'set'>
```

In [16]:
# Example - What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

#### The set() Constructor

It is also possible to use the set() constructor to make a set.

In [17]:
# Example - Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

#### Python Collections (Arrays)
There are four collection data types in the Python programming language:

- `List` is a collection which is ordered and changeable. Allows duplicate members.
- `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
- `Set` is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- `Dictionary` is a collection which is ordered** and changeable. No duplicate members.


`*`Set items are unchangeable, but you can remove items and add new items.

`**`As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#### Add Set Items

#### Remove Set Items

#### Loop Set

#### Join Sets

There are several ways to join two or more sets in Python.

- The `union()` and `update()` methods joins all items from both sets.

- The `intersection()` method keeps ONLY the duplicates.

- The `difference()` method keeps the items from the first set that are not in the other set(s).

- The `symmetric_difference()` method keeps all items EXCEPT the duplicates.

#### Union

The union() method returns a new set with all items from both sets.

In [19]:
# Example  - Join set1 and set2 into a new set:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

**You can use the | operator instead of the union() method, and you will get the same result.**

In [20]:
# Example - Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

##### Join Multiple Sets

All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [21]:
# Example - Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'apple', 'c', 'a', 'b', 'cherry', 'bananas', 'Elena'}

When using the **|** operator, separate the sets with **more |** operators:

In [22]:
# Example - Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'apple', 'c', 'a', 'b', 'cherry', 'bananas', 'Elena'}

##### Join a Set and a Tuple

The **union()** method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [23]:
# Example - Join a set with a tuple:

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

**Note**: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

##### Update
- The **update()** method inserts all items from one set into another.
- The **update()** changes the original set, and does not return a new set.

In [24]:
# Example - The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

#### Intersection

Keep ONLY the duplicates

The **intersection()** method will return a new set, that only contains the items that are present in both sets.

In [25]:
# Example - Join set1 and set2, but keep only the duplicates:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the **&** operator instead of the intersection() method, and you will get the same result.

In [26]:
# Example - Use & to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

The **intersection_update()** method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [27]:
# Example - Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

The values **True** and **1** are considered the same value. The same goes for **False** and **0**.

In [28]:
# Example - Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

#### Difference

The **difference()** method will return a new set that will contain only the items from the first set that are not present in the other set.

In [29]:
# Example - Keep all items from set1 that are not in set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

You can use the **-** operator instead of the difference() method, and you will get the same result.

In [30]:
# Example - Use - to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

**Note**: The **-** operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The **difference_update()** method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [31]:
# Example - Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

#### Symmetric Differences

The **symmetric_difference()** method will keep only the elements that are NOT present in both sets.

In [32]:
# Example - Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'cherry', 'microsoft', 'google', 'banana'}

You can use the **^** operator instead of the **symmetric_difference()** method, and you will get the same result.

In [33]:
# Example - Use ^ to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'microsoft', 'google', 'banana'}

**Note**: The **^** operator only allows you to join sets with sets, and not with other data types like you can with the **symmetric_difference()** method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new se

In [34]:
# Example - Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'microsoft', 'google', 'banana'}

#### Set Methods

| Method                      | Shortcut | Description                                                                                      |
|-----------------------------|----------|--------------------------------------------------------------------------------------------------|
| `add()`                     |          | Adds an element to the set                                                                       |
| `clear()`                   |          | Removes all the elements from the set                                                            |
| `copy()`                    |          | Returns a copy of the set                                                                        |
| `difference()`              | `-`      | Returns a set containing the difference between two or more sets                                 |
| `difference_update()`       | `-=`     | Removes the items in this set that are also included in another, specified set                   |
| `discard()`                 |          | Remove the specified item                                                                        |
| `intersection()`            | `&`      | Returns a set, that is the intersection of two other sets                                        |
| `intersection_update()`     | `&=`     | Removes the items in this set that are not present in other, specified set(s)                    |
| `isdisjoint()`              |          | Returns whether two sets have a intersection or not                                              |
| `issubset()`                | `<=`     | Returns whether another set contains this set or not                                             |
|                             | `<`      | Returns whether all items in this set are present in other, specified set(s)                     |
| `issuperset()`              | `>=`     | Returns whether this set contains another set or not                                             |
|                             | `>`      | Returns whether all items in other, specified set(s) are present in this set                     |
| `pop()`                     |          | Removes an element from the set                                                                  |
| `remove()`                  |          | Removes the specified element                                                                    |
| `symmetric_difference()`    | `^`      | Returns a set with the symmetric differences of two sets                                         |
| `symmetric_difference_update()` | `^=`  | Inserts the symmetric differences from this set and another                                      |
| `union()`                   | `|`      | Return a set containing the union of sets                                                        |
| `update()`                  | `|=`     | Update the set with the union of this set and others                                             |

#### Set Exercices

# Python Dictionaries

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```



**Dictionaries** are used to store data values in `key:value` pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

`As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.`

In [35]:
# Example - Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [36]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

**Dictionary Items**

Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [37]:
# Example - Print the "brand" value of the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [38]:
thisdict["model"]

'Mustang'

In [39]:
thisdict["year"]

1964

**Ordered or Unordered?**
As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

**Changeable**
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

**Duplicates Not Allowed**
Dictionaries cannot have two items with the same key:

In [40]:
# Example - Duplicate values will overwrite existing values:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**Dictionary Length**

To determine how many items a dictionary has, use the len() function:

In [41]:
# Example - Print the number of items in the dictionary:

print(len(thisdict))

3

**Dictionary Items - Data Types**

The values in dictionary items can be of any data type:

In [42]:
# Example - String, int, boolean, and list data types:

thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

**type()**

From Python's perspective, dictionaries are defined as objects with the data type 'dict':

```python
<class 'dict'>
```

In [43]:
# Example - Print the data type of a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [44]:
type(thisdict)

dict

***The dict() Constructor***

It is also possible to use the dict() constructor to make a dictionary.

In [45]:
# Example - Using the dict() method to make a dictionary:

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

#### Python Collections (Arrays)

There are **four collection** data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.


`*`Set items are unchangeable, but you can remove and/or add items whenever you like.

`**`As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security

### Access Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [6]:
# Example - Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict["model"]
x

'Mustang'

There is also a method called **get()** that will give you the same result:

In [9]:
# Example - Get the value of the "model" key:

x = thisdict.get("model")
x

'Mustang'

**Get Keys**

The keys() method will return a list of all the keys in the dictionary.

In [12]:
# Example - Get a list of the keys:

x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [13]:
for key in thisdict.keys():
    print(key)

brand
model
year

In [11]:
list(x)

['brand', 'model', 'year']

`The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.`

In [14]:
# Example - Add a new item to the original dictionary, and see that the keys list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

**Get Values**

The `values() method` will return a list of all the values in the dictionary.

In [15]:
# Example - Get a list of the values:

x = thisdict.values()
x

dict_values(['Ford', 'Mustang', 1964])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [16]:
# Example - Make a change in the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [17]:
# Example - Add a new item to the original dictionary, and see that the values list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

**Get Items**

The `items() method` will return each item in a dictionary, as tuples in a list.

In [18]:
# Example - Get a list of the key:value pairs

x = thisdict.items()
x

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [19]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

`The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list`.

In [20]:
# Example - Make a change in the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [21]:
# Example - Add a new item to the original dictionary, and see that the items list gets updated as well:

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

**Check if Key Exists**

To determine if a specified key is present **in** a dictionary use the in keyword:

In [22]:
# Example - Check if "model" is present in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

### Change Items

You can change the value of a specific item by referring to its key name:

In [24]:
# Example - Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

**Update Dictionary**

The `update() method` will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [25]:
# Example - Update the "year" of the car by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.update({"year": 2020})

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Add Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [32]:
# Example

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

**Update Dictionary**

The `update() method` will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pair

In [27]:
# Example - Add a color item to the dictionary by using the update() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Remove Items

There are several methods to remove items from a dictionary:

In [28]:
# Example - The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [29]:
# Example - The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [30]:
# Example - The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [31]:
# Example - The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [33]:
# Example - The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

### Loop Through a Dictionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [36]:
# Example - Print all key names in the dictionary, one by one:

for x in thisdict:
  print(x)

brand
model
year
color

In [37]:
# Example- Print all values in the dictionary, one by one:

for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964
red

In [38]:
# Example - You can also use the values() method to return values of a dictionary:

for x in thisdict.values():
  print(x)

Ford
Mustang
1964
red

In [39]:
# Example - You can use the keys() method to return the keys of a dictionary:

for x in thisdict.keys():
  print(x)

brand
model
year
color

In [40]:
# Example - Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964
color red

### Copy a Dictionary

You cannot copy a dictionary simply by typing `dict2 = dict1`, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method **copy()**.

In [41]:
# Example - Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the `built-in function dict()`.

In [42]:
# Example - Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [43]:
# Example  - Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

Or, if you want to add three dictionaries into a new dictionary:

In [45]:
# Example - Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}

child2 = {
  "name" : "Tobias",
  "year" : 2007
}

child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

#### Access Items in Nested Dictionaries

To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:

In [46]:
# Example - Print the name of child 2:

print(myfamily["child2"]["name"])

Tobias

#### Loop Through Nested Dictionaries

You can loop through a dictionary by using the **items() method** like this:

In [54]:
for x, obj in myfamily.items():
    print(x)
    #print(obj)
    for y in obj:
        print("-", y + ":", obj[y])

child1
- name: Emil
- year: 2004
child2
- name: Tobias
- year: 2007
child3
- name: Linus
- year: 2011

### Dictionary Methods

Python has a set of built-in methods that you can use on dictionaries.



| Method      | Description                                                                        |
|-------------|------------------------------------------------------------------------------------|
| `clear()`   | Removes all the elements from the dictionary                                       |
| `copy()`    | Returns a copy of the dictionary                                                   |
| `fromkeys()`| Returns a dictionary with the specified keys and value                             |
| `get()`     | Returns the value of the specified key                                             |
| `items()`   | Returns a list containing a tuple for each key value pair                          |
| `keys()`    | Returns a list containing the dictionary's keys                                    |
| `pop()`     | Removes the element with the specified key                                         |
| `popitem()` | Removes the last inserted key-value pair                                           |
| `setdefault()` | Returns the value of the specified key. If the key does not exist: insert the key, with the specified value |
| `update()`  | Updates the dictionary with the specified key-value pairs                          |
| `values()`  | Returns a list of all the values in the dictionary                                 |

### Dictionary Exercises

In [56]:
# 1. Use the get method to print the value of the "model" key of the car dictionary.


car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car.get("model"))

Mustang

In [57]:
# 2. Change the "year" value from 1964 to 2020.


car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
 
car["year"]= 2020 
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [58]:
# 3. Add the key/value pair "color" : "red" to the car dictionary.


car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
 
car["color"] = "red" 
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [59]:
# 4. Use the pop method to remove "model" from the car dictionary.


car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")
car

{'brand': 'Ford', 'year': 1964}

In [61]:
# 5. Use the clear method to empty the car dictionary.


car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()
car

{}