##  Python MySQL - Get started

- Python can be used in database applications.
- One of the most popular databases is MySQL.

### MySQL Database
To be able to experiment with the code examples in this tutorial, you should have MySQL installed on your computer.

You can download a MySQL database at https://www.mysql.com/downloads/.

### Install MySQL Driver

Python needs a MySQL driver to access the MySQL database.

In this tutorial we will use the driver "MySQL Connector".

We recommend that you use PIP to install "MySQL Connector".

PIP is most likely already installed in your Python environment.

Navigate your command line to the location of PIP, and type the following:

```sh 
pip install mysql-connector-python
```

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 75.4 MB/s eta 0:00:00:00:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip


### Test MySQL Connector
To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

In [1]:
#demo_mysql_test.py:

import mysql.connector

## Python MySQL Create Database


### Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement:

USE mysql;

ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'your_password';

ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'admin';

In [6]:
# Example - create a database named "mydatabase":

# sudo mysql -u root -p

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE test")

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin"
)

mycursor = mydb.cursor()

# Drop the database if it exists
mycursor.execute("DROP DATABASE IF EXISTS w3schools_database")

# Create the database
mycursor.execute("CREATE DATABASE w3schools_database")

print("Database created successfully!")

Database created successfully!

### Check if Database Exists
You can check if a database exist by listing all databases in your system by using the `SHOW DATABASES` statement:

In [8]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)
('w3schools_database',)

In [9]:
# Example -  connecting to the database "mydatabase":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="w3schools_database" # Make sure the database is selected
)

## Python MySQL Create Table

### Creating a Table
To create a table in MySQL, use the `CREATE TABLE` statement.

Make sure you define the name of the database when you create the connection

In [11]:
# Example - Create a table named "customers":

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

### Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [12]:
#Example - Return a list of your system's databases:

mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

### Primary Key
When creating a table, you should also **create a column with a unique key for each record***.

This can be done by defining a `PRIMARY KEY`.

We use the statement `INT AUTO_INCREMENT PRIMARY KEY` which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [13]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY,\
                  name VARCHAR(255),\
                  address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

**If the table already exists, use the ALTER TABLE keyword:**

In [14]:
#Example - Create primary key on an existing table:


mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [15]:
mycursor = mydb.cursor()

# Create the 'customers' table only if it doesn't exist
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS customers (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        address VARCHAR(255)
    )
""")

print("Table created or already exists.")

Table created or already exists.


** Or delete table and create new**

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="admin",
  database="w3schools_database" # Make sure the database is selected
)

mycursor = mydb.cursor()

# Drop the 'customers' table if it exists
mycursor.execute("DROP TABLE IF EXISTS customers")

# Create the 'customers' table
mycursor.execute("""
    CREATE TABLE customers (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        address VARCHAR(255)
    )
""")

print("Table dropped and recreated successfully.")

Table dropped and recreated successfully.

## Python MySQL Insert Into Table
### Insert Into Table
To fill a table in MySQL, use the `INSERT INTO` statement.

In [18]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

**Important!**: Notice the statement: `mydb.commit()`. It is required to make the changes, otherwise no changes are made to the table.

### Insert Multiple Rows
To insert multiple rows into a table, use the `executemany()` method.

The second parameter of the `executemany()` method is a list of tuples, containing the data you want to insert:

In [4]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

### Get Inserted ID

You can get the `id` of the row you just inserted by asking the `cursor object`.

**Note**: `If you insert more than one row, the id of the last inserted row is returned`.

In [5]:
mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

## Python MySQL Select From

### Select From a Table
To select from a table in MySQL, use the "SELECT" statement:

In [36]:
#Example - Select all records from the "customers" table, and display the result:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)


mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)



mycursor.close()
mydb.close()

(1, 'John', 'Highway 21')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')
(15, 'Michelle', 'Blue Village')

**Note**: We use the `fetchall() method`, which fetches all rows from the last executed statement.

### Selecting Columns
To select only some of the columns in a table, use the `SELECT` statement followed by the `column name(s)`:

In [48]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT name, address FROM customers")
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

mycursor.close()
mydb.close()

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

### Using the fetchone() Method
If you are only interested in one row, you can use the `fetchone() method`.

The `fetchone()` method will return the first row of the result:

In [49]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)


mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()

# Consume any remaining results (to avoid 'unread result' error)
mycursor.fetchall()  # This fetches and discards the rest of the rows

print(myresult)

mycursor.close()
mydb.close()

(1, 'John', 'Highway 21')

## Python MySQL Where

### Select With a Filter
When selecting records from a table, you can filter the selection by using the `WHERE` statement:

In [51]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)

mycursor = mydb.cursor()

# Execute the query
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"
mycursor.execute(sql)

# Fetch one result
myresult = mycursor.fetchone()
print(myresult)


# Now safely close the cursor and connection
mycursor.close()
#mydb.close()

(11, 'Ben', 'Park Lane 38')

True

## Wildcard Characters
You can also select the *records that `starts`, `includes`, or `ends` with a given **letter or phrase**.

Use the `%`  to represent wildcard characters:

In [52]:
# Example - Select records where the address contains the word "way":


mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'John', 'Highway 21')
(9, 'Susan', 'One way 98')
(14, 'Viola', 'Sideway 1633')

## Prevent SQL Injection
When query values are provided by the user, you should `escape the values`.

This is to `prevent SQL injections`, which is a common web hacking technique to destroy or misuse your database.

The `mysql.connector` module has methods to escape query values:

In [54]:
mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)


mycursor.close()
mydb.close()

(10, 'Vicky', 'Yellow Garden 2')

## Python MySQL Order By

### Sort the Result
Use the `ORDER BY` statement to sort the result in ascending or descending order.

The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [55]:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

mycursor.close()

(3, 'Amy', 'Apple st 652')
(11, 'Ben', 'Park Lane 38')
(7, 'Betty', 'Green Grass 1')
(13, 'Chuck', 'Main Road 989')
(4, 'Hannah', 'Mountain 21')
(1, 'John', 'Highway 21')
(5, 'Michael', 'Valley 345')
(15, 'Michelle', 'Blue Village')
(2, 'Peter', 'Lowstreet 4')
(8, 'Richard', 'Sky st 331')
(6, 'Sandy', 'Ocean blvd 2')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(14, 'Viola', 'Sideway 1633')
(12, 'William', 'Central st 954')

True

### ORDER BY DESC
Use the `DESC` keyword to sort the result in a descending order.

In [57]:
mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

mycursor.close()
mydb.close()

(12, 'William', 'Central st 954')
(14, 'Viola', 'Sideway 1633')
(10, 'Vicky', 'Yellow Garden 2')
(9, 'Susan', 'One way 98')
(6, 'Sandy', 'Ocean blvd 2')
(8, 'Richard', 'Sky st 331')
(2, 'Peter', 'Lowstreet 4')
(15, 'Michelle', 'Blue Village')
(5, 'Michael', 'Valley 345')
(1, 'John', 'Highway 21')
(4, 'Hannah', 'Mountain 21')
(13, 'Chuck', 'Main Road 989')
(7, 'Betty', 'Green Grass 1')
(11, 'Ben', 'Park Lane 38')
(3, 'Amy', 'Apple st 652')

## Python MySQL Delete From By

### Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

In [58]:
# Example - Delete any record where the address is "Mountain 21":

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

**Important!**: Notice the statement: `mydb.commit()`. It is required to make the changes, otherwise no changes are made to the table.

Notice the `WHERE clause in the DELETE syntax`: The WHERE clause specifies which record(s) that should be deleted. If you omit the WHERE clause, all records will be deleted!

### Prevent SQL Injection
It is considered a good practice to `escape the values of any query`, also in delete statements.

This is **to prevent SQL injections**, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the **placeholder**  `%s` to escape values in the delete statement:

In [59]:

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

## Python MySQL Drop Table

### Delete a Table
You can delete an existing table by using the `DROP TABLE` statement:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

mycursor.close()
mydb.close()

### Drop Only if Exist
If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

In [ ]:
mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [6]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"  # Ensure the database is selected
)

mycursor = mydb.cursor()

# Drop the 'customers' table if it exists
mycursor.execute("DROP TABLE IF EXISTS customers")

# Create the 'customers' table
mycursor.execute("""
    CREATE TABLE customers (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        address VARCHAR(255)
    )
""")

print("Table dropped and recreated successfully.")

# Insert a single row of data
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

# Commit the transaction
mydb.commit()
print(mycursor.rowcount, "record inserted.")

# Insert multiple rows of data
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

# Use executemany to insert multiple rows
mycursor.executemany(sql, val)

# Commit the transaction
mydb.commit()

print(mycursor.rowcount, "records were inserted.")

# Close the cursor and connection
mycursor.close()
mydb.close()

Table dropped and recreated successfully.
1 record inserted.
13 records were inserted.

## Python MySQL Update Table

### Update Table
You can update existing records in a table by using the `UPDATE` statement:

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)


mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

**Important!**: Notice the statement: `mydb.commit()`. It is required to make the changes, otherwise no changes are made to the table.

Notice the `WHERE clause` in the UPDATE syntax: The WHERE clause specifies which record or records that should be updated. `If you omit the WHERE clause, all records will be updated!`

### Prevent SQL Injection
It is considered a good practice to escape the values of any query, also in update statements.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

The mysql.connector module uses the placeholder `%s` to escape values in the update statement:

In [8]:
mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

## Python MySQL Limit

### Limit the Result
You can limit the number of records returned from the query, by using the `LIMIT` statement:

In [9]:
import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'John', 'Highway 21')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')

## Start From Another Position
If you want to `return five records`, `starting from the third record` you can use the `OFFSET` keyword:

In [10]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')

## Python MySQL Join

### Join Two or More Tables
You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.

Consider you have a `users` table and a `products` table:

```sql
// users
{ id: 1, name: 'John', fav: 154},
{ id: 2, name: 'Peter', fav: 154},
{ id: 3, name: 'Amy', fav: 155},
{ id: 4, name: 'Hannah', fav:},
{ id: 5, name: 'Michael', fav:}

// products
{ id: 154, name: 'Chocolate Heaven' },
{ id: 155, name: 'Tasty Lemons' },
{ id: 156, name: 'Vanilla Dreams' }
```

These two tables can be combined by using users' `fav` field and products' `id` field.

In [ ]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"  # Ensure the database is selected
)

mycursor = mydb.cursor()

# Drop the tables if they exist to start fresh
mycursor.execute("DROP TABLE IF EXISTS users")
mycursor.execute("DROP TABLE IF EXISTS products")

# Create the 'products' table
mycursor.execute("""
    CREATE TABLE products (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255)
    )
""")

# Create the 'users' table, with 'fav' as a foreign key referencing 'products'
mycursor.execute("""
    CREATE TABLE users (
        id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        fav INT,
        FOREIGN KEY (fav) REFERENCES products(id)
    )
""")

print("Tables 'users' and 'products' created successfully.")

# Insert data into 'products'
sql_products = "INSERT INTO products (name) VALUES (%s)"
val_products = [
  ('Chocolate Heaven',),
  ('Tasty Lemons',),
  ('Vanilla Dreams',)
]
mycursor.executemany(sql_products, val_products)

mydb.commit()
print(mycursor.rowcount, "records inserted into 'products'.")

# Insert data into 'users', allowing NULL for 'fav' when favorite product is not specified
sql_users = "INSERT INTO users (name, fav) VALUES (%s, %s)"
val_users = [
  ('John', 154),
  ('Peter', 154),
  ('Amy', 155),
  ('Hannah', None),  # No favorite product for Hannah
  ('Michael', None)  # No favorite product for Michael
]
mycursor.executemany(sql_users, val_users)

mydb.commit()
print(mycursor.rowcount, "records inserted into 'users'.")

# Close the cursor and connection
mycursor.close()
mydb.close()

In [1]:
import mysql.connector

# Connect to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="admin1",
  password="admin",
  database="w3schools_database"  # Ensure the database is selected
)

mycursor = mydb.cursor()

# Drop the tables if they exist to start fresh
mycursor.execute("DROP TABLE IF EXISTS users")
mycursor.execute("DROP TABLE IF EXISTS products")

# Create the 'products' table
mycursor.execute("""
    CREATE TABLE products (
        p_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255)
    )
""")

# Create the 'users' table, with 'fav' as a foreign key referencing 'products'
mycursor.execute("""
    CREATE TABLE users (
        u_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        fav INT,
        FOREIGN KEY (fav) REFERENCES products(p_id) ON DELETE SET NULL
    )
""")

print("Tables 'users' and 'products' created successfully.")

# Insert data into 'products'
sql_products = "INSERT INTO products (name) VALUES (%s)"
val_products = [
  ('Chocolate Heaven',),
  ('Tasty Lemons',),
  ('Vanilla Dreams',)
]
mycursor.executemany(sql_products, val_products)

mydb.commit()
print(mycursor.rowcount, "records inserted into 'products'.")

# Insert data into 'users', allowing NULL for 'fav' when favorite product is not specified
sql_users = "INSERT INTO users (name, fav) VALUES (%s, %s)"
# val_users = [
#   ('John', 154),  # This will work because 154 exists in products
#   ('Peter', 154),  # This will work because 154 exists in products
#   ('Amy', 155),    # This will work because 155 exists in products
#   ('Hannah', None),  # No favorite product for Hannah (NULL allowed)
#   ('Michael', None)  # No favorite product for Michael (NULL allowed)
# ]
val_users = [
    ('John', 154),
    ('Peter', 154),
    ('Michael', None)  # Ensure Michael has no favorite product
]

mycursor.executemany(sql_users, val_users)

mydb.commit()
print(mycursor.rowcount, "records inserted into 'users'.")

# Close the cursor and connection
mycursor.close()
mydb.close()

Tables 'users' and 'products' created successfully.
3 records inserted into 'products'.

IntegrityError: 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`w3schools_database`.`users`, CONSTRAINT `users_ibfk_1` FOREIGN KEY (`fav`) REFERENCES `products` (`p_id`) ON DELETE SET NULL)

In [ ]:
#Example - Join users and products to see the name of the users favorite product:

mycursor = mydb.cursor()

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

**Note¨¨: You can use `JOIN` instead of `INNER JOIN`. They will both give you the same result.

### LEFT JOIN
In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.

If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement:

In [ ]:
# Example - Select all users and their favorite product:

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  LEFT JOIN products ON users.fav = products.id"

### RIGHT JOIN
If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the RIGHT JOIN statement:

In [ ]:
# Example - Select all products, and the user(s) who have them as their favorite:

sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  RIGHT JOIN products ON users.fav = products.id"

**Note**: Hannah and Michael, who have no favorite product, are not included in the result.